html {
  display: table;
  width: 100%;
  height: 100%;
}

body {
  display: table-row;
  overflow: hidden;
  /*background: #000 radial-gradient(1000px 500px, #3f546b, #000);*/
  background-color: #023047;
}

.loader {
    position : fixed;
    z-index: 9999;
    background : url('../../../assets/sleep.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}

.wrapper {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  transform: scale(0.8);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3em;
}

.content {
  display: inline-block;
  width: 364px;
  margin: 0 auto;
}

.sidebar {
  margin-top: 1em;
  text-align: left;
  font-family: 'Doppio One', sans-serif;
  color: #ccc;
}

.heading {
  text-align: center;
  font-family: 'Doppio One', sans-serif;
  color: #ccc;  
}

.heading span {
  font-size: 0.9em;
}

h1,
h2 {
  color: #fff;
  margin: 0;
  font-weight: normal;
}

h1 {
  height: 1.5em;
  line-height: 1.5em;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

.panel {
  padding: 1em;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
}

.panel.info {
  height: 65px;
  margin-bottom: 0px;
}

.panel.info h2 {
  font-size: 14px !important;
}

.panel.info div {
  font-size: 12px !important;
}

#trigger-div {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border-color: magenta;
  border-width: 5px;
  border-style: solid;
  font-size: 20px;
  color: azure;
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

.dif-options {
  clear: both;
  overflow: hidden;
  margin: 10px -7px 0;
}

.dif-options div {
  float: left;
  width: 20%;
}

.dif-options input {
  display: none;
}

.dif-options input:checked+label {
  color: #fff;
  background-color: #593f6b;
  border-color: #fff;
  cursor: default;
}

.dif-options label {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: #666;
  border: solid 2px #ccc;
  border-radius: 8px;
  color: #999;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  font-size: 16px;
}

.freeze .dif-options input:not(:checked)+label {
  font-size: 0;
  margin: 7px auto;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  color: transparent;
  line-height: 10px;
  cursor: default;
  transition: .2s;
}

.start {
  margin-top: 10px;
}

.start button {
  display: block;
  width: 100%;
  padding: 2px 12px 4px;
  font-family: inherit;
  font-size: 18px;
  border: solid 2px #ccc;
  border-radius: 8px;
  background-color: #593f6b;
  color: #fff;
  cursor: pointer;
}

.start button:focus {
  outline: none;
}

.freeze .start {
  display: none;
}

.info div {
  margin-top: 10px;
}

.board {
  position: relative;
  width: 364px;
  height: 316px;
  margin-top: 3em;
  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77020/board.png");*/
  background-image: url("../../../assets/ingame/board.png");
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  background-size: contain;
  object-fit: contain;
}

.lit-columns,
.lit-cells,
.chips,
.click-columns {
  position: absolute;
  width: 364px;
  height: 312px;
}

.lit-columns div {
  float: left;
  width: 51px;
  height: 315px;
  margin: 1px 0 1px 1px;
  transition: background-color 0.1s;
}

.lit-columns .lit {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.1s;
}

.lit-cells div {
  position: absolute;
  width: 51px;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.3);
}

.chips div {
  position: absolute;
  width: 42px;
  height: 42px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 4px;
}

.chips .p1 {
  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77020/p1-chip.png");*/
  background-image: url("../../../assets/ingame/p1.png");
  background-size: contain;
  object-fit: contain;
}

.chips .p2 {
  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77020/p2-chip.png");*/
  background-image: url("../../../assets/ingame/p2.png");
  background-size: contain;
  object-fit: contain;
}

.chips .cursor {
  bottom: 316px;
  transition: left 0.1s ease-out;
}

.chips .dropped {
  transition: bottom ease-in;
  animation: bounce 0.3s;
}

.click-columns div {
  float: left;
  width: 51px;
  height: 316px;
}

.click-columns div:first-child {
  padding-left: 1px;
}

.click-columns .hover {
  cursor: pointer;
}

@keyframes bounce {
  0% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  30% {
    animation-timing-function: ease-in;
    transform: translateY(-40px);
  }
  60% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  80% {
    animation-timing-function: ease-in;
    transform: translateY(-10px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.close-div {
  display: flex;
  width: 3em;
  height: 3em;
  object-fit: contain;
  margin: auto;
  border-width: 0.3em;
  border-color: black;
  border-radius: 2em;
  border-style: solid;
  position: absolute;
  top: 90%;
  left: 45%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px black;
  transform: translateY(200%);
  transition-timing-function: ease-in;
  transition: 0.2s;
  cursor: pointer;
  background-color: #D00000;
}

.close-div.is-shown {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}

.close-div i {
  margin-top: -0.2em;
}

.ad-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.swal2-container {
  overflow-y: hidden;
}

.swal2-icon {
  margin-top: 2em !important;
}

.swal2-popup {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  overflow: hidden;
  padding: 0 !important;
  height: 100% !important;
  grid-row: 2 !important;
}

.swal2-html-container div {
  font-size: calc(1em + 1vh);
  border-color: black;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  font-weight: bold;
  color: indigo;
  margin-top: 3vh;
}

.swal2-html-container {
  margin-top: 0.2em;
}

.swal2-html-container span {
  font-size: 1em;
}

.swal2-html-container strong {
  font-size: 1.2em;
}

.swal2-overlay {
  background-color: white !important;
}

.swal2-actions {
  flex-direction: row;
  display: grid;
  position: relative;
  margin: 0;
  height: 10em;
}

.swal2-actions button {
  width: 11em;
  height: 4em;
  border-radius: 2em !important;
  box-shadow: 8px 5px 20px -8px #263238;
}

.swal2-actions button i {
  /*font-size: 1.5rem;*/
}

.swal2-confirm {
  background-color: #0096c7 !important;
  position: absolute;
  top: 0;
  width: 15em !important;
}

.swal2-deny {
  background-color: #eef4ed !important;
  color: black !important;
  position: absolute;
  right: 0;
  top: 50%;
}

.swal2-cancel {
  background-color: #eef4ed !important;
  color: black !important;
  position: absolute;
  left: 0;
  top: 50%;
}

.swal2-title {
  font-family: Lucida Grande !important;
  font-size: 2em !important;
  padding-top: 0.1em !important;
}

.gif-div {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  align-self: flex-end;
  justify-self: safe center;
  margin: auto;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  position: absolute;
  right: 0;
 }

 .gif-div img {
  height: 10vh;
 }

.logo-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: safe center;
  margin-top: 1em;
}

.logo-div img {
  height: 30vh;
}

.trigger-div {
  font-size: 1.3em;
  border-color: black;
  border-style: solid;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 0.15em;
  font-weight: bold;
  color: #003049;
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  width: 10em;
  max-width: 60%;
  text-align: center;
  box-shadow: 3px 3px 18px -8px #263238;
  overflow: hidden;
  opacity: 0.9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.share-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  margin-right: 0.3em;
  margin-top: 0.3em;
  font-size: 1.2em;
}

.button-div {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  text-align: center;
  overflow: hidden;
  margin-top: 0em;

}

.button-div span {
  display: inline-block;
  width: 7.5em;
  font-size: 0.8em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: black;
  opacity: 0.7;
}

.share-div i {
  font-size: 2em;
  color: #003049;
}

.share-div i:hover {
  cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.d-none {
  display: none;
}