html {
  height: 100%;
  width: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*background: #000 radial-gradient(1000px 500px, #3f546b, #000);*/
    background-color: #03071e;
    font-family: Comic Sans MS;
    overflow: hidden;
}

.loader {
    position : fixed;
    z-index: 9999;
    background : url('../../../../assets/sleep.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}

div.main {
    margin: 0 auto;
    padding: 0 10px 30px 10px;
    max-width: 700px;
    /* background-color: #61C793; */
    /* line-height: 0; */
    position: relative;
    display: grid;
}

div.score {
    /* position: absolute; */
    z-index: 1001;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    grid-row: 4;
    grid-column: 1;
}

div.score > button {
    font-size: calc(1em + 1vmin);
    padding: 0.5vh 3vh;
    color: #fff;
    background-color: #593f6b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    border: solid 3px #ccc;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    width: 10em;
    height: 2em;
}

div.score > button:active {
    background-color: #A92453;
}

.score.top {
    margin-top: 1em;
    height: auto;
    grid-row: 2;
    grid-column: 1;
}

.game-container {
    position: relative;
    margin-top: 2em;
    height: 55vmax;
    grid-row: 3;
    grid-column: 1;
}

canvas.gamecanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0px;
    /*background-color: #00311c;*/
    background-color: #d00000;
    cursor: default;
    z-index: 2;
    border-radius: 2em;
    box-shadow: 0 0 10px #03071e inset;
    /*border-color: whitesmoke;*/
    border-color: #d00000;
    border-width: 0.5vh;
    border-style: ridge;
}

.score-time {
    font-size: calc(1em + 1vmin);
    color: #fff;
    margin-top: 1vh;
}

.score-time > span {
    font-size: calc(1em + 2vmin);
    color: crimson;
}

.score-num {
    font-size: calc(1em + 2vmin);
    color: #fff;
    line-height: 0;
    padding: 3vh 0 3vh 0;
    margin-top: 2vh;
}

.score-num > span {
    font-size: calc(1em + 5vmin);
    vertical-align: bottom;
    padding: 0 1vh;
    color: chartreuse;
}

#trigger-div {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    top: 15vh;
    padding: 2vh;
    margin: 1vh 5vh 1vh 5vh;
}

#trigger-text {
    color: chartreuse;
    font-size: 6vh;
    font-weight: bold;
}

#instructions {
  grid-row: 1;
  grid-column: 1;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 2em;  
}

.d-none {
    display: none !important;
}

.close-div {
  display: flex;
  width: 3em;
  height: 3em;
  object-fit: contain;
  margin: auto;
  border-width: 0.3em;
  border-color: black;
  border-radius: 2em;
  border-style: solid;
  position: absolute;
  top: 90%;
  left: 45%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px black;
  transform: translateY(200%);
  transition-timing-function: ease-in;
  transition: 0.2s;
  cursor: pointer;
  background-color: #D00000;
}

.close-div.is-shown {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}

.close-div i {
  margin-top: -0.2em;
}

.ad-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.swal2-container {
  overflow-y: hidden;
}

.swal2-icon {
  margin-top: 2em;
}

.swal2-popup {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  overflow: hidden;
  padding: 0 !important;
  height: 100% !important;
  grid-row: 2 !important;
}

.swal2-html-container div {
  font-size: calc(1em + 1vh);
  border-color: black;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  font-weight: bold;
  color: indigo;
  margin-top: 3vh;
}

.swal2-html-container {
  margin-top: 0.2em;
}

.swal2-html-container span {
  font-size: 0.8em;
}

.swal2-html-container strong {
  font-size: 1.2em;
}

.swal2-overlay {
  background-color: white !important;
}

.swal2-actions {
  display: grid;
  flex-direction: row;
  position: relative;
  margin: 0;
  height: 10em;
}

.swal2-actions button {
  width: 12em;
  height: 4em;
  border-radius: 2em !important;
  box-shadow: 8px 5px 20px -8px #263238;
}

.swal2-actions button i {
  /*font-size: 1.5rem;*/
}

.swal2-confirm {
  background-color: #0096c7 !important;
  position: absolute;
  top: 0;
  width: 15em !important;
}

.swal2-deny {
  background-color: #eef4ed !important;
  color: black !important;
  position: absolute;
  right: 0;
  top: 50%;
}

.swal2-cancel {
  background-color: #eef4ed !important;
  color: black !important;
  position: absolute;
  left: 0;
  top: 50%;
}

.swal2-title {
  font-family: Lucida Grande !important;
  font-size: 2em !important;
  padding-top: 0.1em !important;
}

.gif-div {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  align-self: flex-end;
  justify-self: safe center;
  margin: auto;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  position: absolute;
  right: 0;
 }

 .gif-div img {
  height: 10vh;
 }

.logo-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: safe center;
  margin-top: 1em;
}

.logo-div img {
  height: 30vh;
}

.trigger-div {
  font-size: 1.3em;
  border-color: black;
  border-style: solid;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 0.15em;
  font-weight: bold;
  color: #003049;
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  width: 10em;
  max-width: 60%;
  text-align: center;
  box-shadow: 3px 3px 18px -8px #263238;
  overflow: hidden;
  opacity: 0.9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.share-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  margin-right: 0.3em;
  margin-top: 0.3em;
  font-size: 1.2em;
}

.button-div {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  text-align: center;
  overflow: hidden;
  margin-top: 0em;
}

.button-div span {
  display: inline-block;
  width: 7.5em;
  font-size: 0.8em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: black;
  opacity: 0.7;
}

.share-div i {
  font-size: 2em;
  color: #003049;
}

.share-div i:hover {
  cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}