html {
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
}

.close-div {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  object-fit: contain;
  margin: auto;
  /* border-width: 0.3em;
  border-color: whitesmoke;
  border-radius: 2em;
  border-style: solid; */
  position: absolute;
  top: 90%;
  left: 45%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 12px black;
  transform: translateY(200%);
  transition-timing-function: ease-in;
  transition: 0.2s;
  cursor: pointer;
  /* background-color: #D00000; */
}

.close-div img {
	width: 3em;
	height: 3em;
}

.close-div.is-shown {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}

.close-div i {
  margin-top: -0.2em;
}

.ad-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.swal2-container {
  overflow-y: hidden;
}

.swal2-icon {
  margin-top: 2em;
}

.swal2-popup {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	overflow: hidden;
	padding: 0 !important;
	height: 100% !important;
	grid-row: 2 !important;
}

.swal2-html-container div {
  font-size: calc(1em + 1vh);
  border-color: black;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  font-weight: bold;
  color: indigo;
  margin-top: 3vh;
}

.swal2-html-container {
	margin-top: 0.2em;
}

.swal2-html-container span {
	font-size: 1em;
}

.swal2-html-container strong {
	font-size: 1.2em;
}

.swal2-overlay {
  background-color: white !important;
}

.swal2-actions {
	display: grid;
	flex-direction: row;
	position: relative;
	margin: 0;
	height: 10em;
}

.swal2-actions button {
	width: 12em;
	height: 4em;
	border-radius: 2em !important;
	box-shadow: 8px 5px 20px -8px #263238
}

.swal2-confirm {
	background-color: #0096c7 !important;
	position: absolute;
	top: 0;
	width: 15em !important;
	font-size: 0.9em !important;
}

.swal2-deny {
	background-color: #eef4ed !important;
	color: black !important;
	position: absolute;
	left: 0;
	top: 50%;
	font-size: 0.9em !important;
}

.swal2-cancel {
	background-color: #eef4ed !important;
	color: black !important;
	position: absolute;
	right: 0;
	top: 50%;
	font-size: 0.9em !important;
}

.swal2-title {
	font-family: Lucida Grande !important;
	font-size: 2em !important;
	padding-top: 0.1em !important;
}

.gif-div {
	display: grid;
	grid-column: 2;
	grid-row: 3;
	align-self: flex-end;
	justify-self: safe center;
	margin: auto;
	margin-right: 0.3em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 1.2em;
	position: absolute;
	right: 0;
}

.gif-div img {
	height: 10vh;
}

.logo-div {
	display: grid;
	grid-column: 2;
	grid-row: 1;
	align-self: center;
	justify-self: safe center;
	margin-top: 2em;
}

.logo-div img {
	height: 30vh;
	max-width: 100%;
	max-height: 100%;
}

.trigger-div {
  font-size: 1.3em;
  border-color: black;
  border-style: solid;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 0.15em;
  font-weight: bold;
  color: #003049;
	display: grid;
	grid-column: 2;
	grid-row: 1;
	align-self: end;
	justify-self: center;
	width: 10em;
	max-width: 60%;
	text-align: center;
	box-shadow: 3px 3px 18px -8px #263238;
	overflow: hidden;
	opacity: 0.9;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.share-div {
	display: grid;
	grid-column: 2;
	grid-row: 1;
	text-align: center;
	align-self: start;
	justify-self: safe end;
	margin: auto;
	margin-right: 0.3em;
	margin-top: 0.3em;
	font-size: 1.2em;
	font-weight: 500;
	color: black;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.share-div:hover {
	cursor: pointer;
}

.button-div {
	grid-column: 2;
	grid-row: 3;
	align-self: start;
	justify-self: safe end;
	margin: auto;
	text-align: center;
	overflow: hidden;
	margin-top: 0em;
}

.button-div span {
	display: inline-block;
	width: 7.5em;
	font-size: 0.8em;
  	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: black;
	opacity: 0.7;
}

.share-div i {
	font-size: 2em;
	color: #003049;
}

.share-div i:hover {
	cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.d-none {
	display: none;
}