html, body, #wrapper {
  margin: 0;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.loader {
    position : fixed;
    z-index: 9999;
    background : url('assets/sleep.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}

.d-none {
  display: none;
}