html {
  height: 100%;
}

@font-face {
    font-family: 'Neon2';
    src: url('assets/fonts/neon2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('assets/fonts/ARCADECLASSIC.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIGITALDREAM';
    src: url('assets/fonts/DIGITALDREAM.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
}

h1 {
  font-family: 'ARCADECLASSIC';
  font-weight: bold;
  color: black;
  vertical-align: middle;
  grid-column: 1;
  grid-row: 2;
}

#greeting {
  word-spacing: 0.5em;
}

#retailname {
  margin-top: 3em;
  font-size: 3em;
  word-spacing: 0.2em;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  vertical-align: middle;
}

img {
  margin: auto;
  margin-bottom: 40px;
  vertical-align: middle;
  grid-column: 1;
  grid-row: 2;
  height: 30vh;
  max-height:100%; 
  max-width:100%;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.button-group {
  display: grid;
  vertical-align: middle;
  grid-column: 1;
  grid-row: 3;
  text-align: center;  
}

#button1 {
  width: 250px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #eef4ed;
  color: black;
  border-radius: 40px !important;
  box-shadow: 8px 5px 20px -8px #263238;
  border: 3px solid #000;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  font-size: 1em;
  font-weight: bold;
  font-family: 'ARCADECLASSIC';
}

#button2 {
  width: 250px;
  height: 80px;
  margin: auto;
  background-color: #eef4ed;
  color: black;
  border-radius: 40px !important;
  box-shadow: 8px 5px 20px -8px #263238;
  border: 3px solid #000;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  font-size: 1em;
  font-weight: bold;
  font-family: 'ARCADECLASSIC';
}

#button1, #button2 span {
  font-size: 1.5em;
}

#button1:hover, #button2:hover {
  background-color: #00cc00;
  box-shadow: 1px 1px 1px #cccccc;
  cursor: pointer;
}

#button1:active, #button2:active {
  background-color: #0096c7;
  box-shadow: 0px 0px 0px #cccccc;
}
