html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica Neue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fafafa;
}

.loader {
    position : fixed;
    z-index: 9999;
    background : url('../../assets/sleep.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}

#maze_container {
  position: relative;
  display: inline-block;
  transform: scale(0.9);
}
#maze {
  position: relative;
  background-color: #48cae4;
  background-image: radial-gradient(circle at 0% 0%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at center, rgba(0,0,0,0.1) 50%, transparent 50%), radial-gradient(circle at 100% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 0% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 100% 0%, transparent 50%, rgba(0,0,0,0.1) 50%);
  background-size: 8em 8em;
}
#maze div {
  display: flex;
}
#maze div div {
  position: relative;
  width: 1em;
  height: 1em;
}
#maze div div::after {
  position: absolute;
  left: -3px;
  top: -4px;
  text-align: center;
  text-shadow: 0 0 1px black;
  font-size: 1.2em;
  z-index: 10;
}
#maze div div.door.exit::after {
  content: "\1F6AA";
}
#maze div div.nubbin::after {
  content: "\1F33C";
}
#maze div.nubbin:nth-of-type(3n)::after {
  content: "\1F344";
}
#maze div.nubbin:nth-of-type(5n)::after {
  content: "\1F33B";
}
#maze div.nubbin:nth-of-type(7n)::after {
  content: "\1F48E";
}
#maze div.nubbin:nth-of-type(13n)::after {
  content: "\1F381";
}
#maze div div.nubbin.hospital::after {
  content: "\01F3E5";
}
#maze div.nubbin.hospital:nth-of-type(3n)::after {
  content: "\01F9B7";
}
#maze div.nubbin.hospital:nth-of-type(5n)::after {
  content: "\01F489";
}
#maze div.nubbin.hospital:nth-of-type(7n)::after {
  content: "\01F48A";
}
#maze div.nubbin.hospital:nth-of-type(13n)::after {
  content: "\01F48E";
}
#maze div div.nubbin.cafe::after {
  content: "\01F370";
}
#maze div.nubbin.cafe:nth-of-type(3n)::after {
  content: "\01F369";
}
#maze div.nubbin.cafe:nth-of-type(5n)::after {
  content: "\01F354";
}
#maze div.nubbin.cafe:nth-of-type(7n)::after {
  content: "\01F355";
}
#maze div.nubbin.cafe:nth-of-type(13n)::after {
  content: "\01F357";
}
#maze div div.nubbin.salon::after {
  content: "\002704";
}
#maze div.nubbin.salon:nth-of-type(3n)::after {
  content: "\01F486";
}
#maze div.nubbin.salon:nth-of-type(5n)::after {
  content: "\01F485";
}
#maze div.nubbin.salon:nth-of-type(7n)::after {
  content: "\01F64B";
}
#maze div.nubbin.salon:nth-of-type(13n)::after {
  content: "\01F60E";
}
#maze div div.nubbin.travel::after {
  content: "\01F695";
}
#maze div.nubbin.travel:nth-of-type(3n)::after {
  content: "\01F50C";
}
#maze div.nubbin.travel:nth-of-type(5n)::after {
  content: "\01F6A6";
}
#maze div.nubbin.travel:nth-of-type(7n)::after {
  content: "\01F6A7";
}
#maze div.nubbin.travel:nth-of-type(13n)::after {
  content: "\01F4B0";
}
#maze div.hero::after {
  content: "\26F5" !important;
}
#maze.face-right div.hero::after {
  transform: scale(-1, 1);
}
#maze div div.wall, #maze div div.nubbin.wall, #maze div div.door.exit {
  background-color: #454545;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.2) 45%, transparent 55%), linear-gradient(to bottom, rgba(0,0,0,0.2) 45%, transparent 55%);
  background-size: 0.5em 0.5em;
}
#maze div div.nubbin.wall::after {
  content: "";
}
#maze div div.sentinel.wall {
  background: transparent;
}
#maze div div.sentinel.wall::after {
  content: "\1F40A";
}
#maze div.sentinel.wall:nth-of-type(3n)::after {
  content: "\1F40D";
}
#maze div div.key::after {
  content: "\1F511";
}

#maze div div:nth-child(odd) {
  width: 1em;
}
#maze div:nth-child(odd) div {
  height: 1em;
}

#maze.finished::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  content: "Game Over";
  background: rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-family: monospace;
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  color: #fff;
  z-index: 10;
}

#maze_output {
  display: flex;
  margin: 0.5em auto;
}
#maze_score, #maze_message {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 1em;
}
#maze_score {
  flex: 1;
  white-space: nowrap;
  text-align: left;
  font-size: 1.5em;
}
#maze_score::before {
  content: "Moves left: ";
}
#maze_score.has-key::after {
  content: "\00a0\1F511";
}
#maze_message {
  flex: 3;
  text-align: right;
  line-height: 2.2em;
}

.d-none {
  display: none !important;
}

#trigger-div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

#trigger-text {
  font-size: calc(1em + 1vh);
  font-family: Helvetica Neue;
  color: blanchedalmond;
  text-align: center;
  align-content: space-between;
  font-weight: bold;
  border-color: chartreuse;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  margin: 3vh;
  border-width: 0.5vh;
}

.close-div {
  display: flex;
  width: 3em;
  height: 3em;
  object-fit: contain;
  margin: auto;
  border-width: 0.3em;
  border-color: black;
  border-radius: 2em;
  border-style: solid;
  position: absolute;
  top: 90%;
  left: 45%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px black;
  transform: translateY(200%);
  transition-timing-function: ease-in;
  transition: 0.2s;
  cursor: pointer;
  background-color: #D00000;
}

.close-div.is-shown {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}

.close-div i {
  margin-top: -0.2em;
}

.ad-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.swal2-container {
  overflow-y: hidden;
}

.swal2-icon {
  margin-top: 2em !important;
  /*transform: scale(0.8) !important;*/
}

.swal2-popup {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  overflow: hidden;
  padding: 0 !important;
  height: 100% !important;
  grid-row: 2 !important;
}

.swal2-html-container div {
  font-size: calc(1em + 1vh);
  border-color: black;
  border-style: solid;
  padding: 2vh;
  border-radius: 2vh;
  font-weight: bold;
  color: indigo;
  margin-top: 3vh;
}

.swal2-html-container {
  padding: 0 !important;
}

.swal2-html-container span {
  font-size: 1.2em;
}

.swal2-html-container strong {
  font-size: 1.2em;
}

.swal2-overlay {
  background-color: white !important;
}

.swal2-actions {
  display: grid;
  flex-direction: row;
  position: relative;
  margin: 0;
  height: 10em;
}

.swal2-actions button {
  width: 11em;
  height: 4em;
  border-radius: 2em !important;
  box-shadow: 8px 5px 20px -8px #263238;
}

.swal2-actions button i {
  /*font-size: 1.5rem;*/
}

.swal2-confirm {
  background-color: #0096c7 !important;
  position: absolute;
  top: 0;
  width: 15em !important;
}

.swal2-deny {
  background-color: #eef4ed !important;
  color: black !important;
  position: absolute;
  right: 0;
  top: 50%;
}

.swal2-cancel {
  background-color: #eef4ed !important;
  color: black !important;
  position: absolute;
  left: 0;
  top: 50%;
}

.swal2-title {
  font-family: Lucida Grande !important;
  font-size: 2em !important;
  padding-top: 0.1em !important;
}

 .gif-div {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  align-self: flex-end;
  justify-self: safe center;
  margin: auto;
  margin-right: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  position: absolute;
  right: 0;
 }

 .gif-div img {
  height: 10vh;
 }

.logo-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: safe center;
  margin-top: 1em;
}

.logo-div img {
  height: 30vh;
}

.trigger-div {
  font-size: 1.5em;
  border-color: black;
  border-style: solid;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 0.15em;
  font-weight: bold;
  color: #003049;
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  width: 10em;
  max-width: 60%;
  text-align: center;
  box-shadow: 3px 3px 18px -8px #263238;
  overflow: hidden;
  opacity: 0.9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.share-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  margin-right: 0.3em;
  margin-top: 0.3em;
  font-size: 1.2em;
}

.button-div {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: safe end;
  margin: auto;
  text-align: center;
  overflow: hidden;
  margin-top: 0em;
}

.button-div span {
  display: inline-block;
  width: 6em;
  font-size: 1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: black;
  opacity: 0.7;
}

.share-div i {
  font-size: 2em;
  color: #003049;
}

.share-div i:hover {
  cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.d-none {
  display: none;
}

#instructions {
  text-align: center;
  font-family: Helvetica Neue;
  margin-top: 1em;
  padding: 0.5em;
  max-width: 30em;
  font-weight: bold;
}