body {
    background-size: contain;
}

h1 {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  }

#button1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#button2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#greeting {
    font-size: 3em;
}