body {
    background-size: auto;
}

h1 {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: black;
}

#button1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: black;
}

#button2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: black;
}

#greeting {
    font-size: 3em;
}